/* General Page Styling */
body {
    background-color: #a3cdfa;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
/* Big ol' title */
#title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* Name Display Styling */
#name-display {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

/* Increase spacing between elements */
#generation-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    padding: 20px;
}

/* Make sure first and last name sections have space */
#first-name-selection, #last-name-params {
    padding: 20px;
    border-radius: 10px;
}

/* Space out the generate button */
#generate-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
}

/* Center and space out the previously generated names section */
#generated-names-container {
    text-align: center;
    margin-top: 10px;
}

#generated-names-label {
    font-size: 1.5em;
    font-weight: bold;
}

#generated-names-display {
    height: 200px; /* Fixed max height */
    overflow-y: auto;  /* Scroll only when content overflows */
    border: 1px solid #ccc;
    padding: 8px;
    background: #f9f9f9;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.generated-name-item {
    padding: 4px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
}

.generated-name-item:last-child {
    border-bottom: none;
}
