<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D Name Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Big ol' title -->
    <h1 id="title">D&D Name Generator</h1>

    <div id="name-display">Generated Name</div>
    <div id="single-race-warning" style="display: none; color: lightcoral; font-size: 14px;"></div>

    <div id="generation-options">
        <div id="first-name-selection">
            <h2>First Name Options:</h2>
            <div id="first-race-selection">
                <h3>Select Race(s):</h3>
                <label><input type="checkbox" name="first-race" value="human"> Human</label><br>
                <label><input type="checkbox" name="first-race" value="elf"> Elf</label><br>
                <label><input type="checkbox" name="first-race" value="dwarf"> Dwarf</label><br>
                <span class="error-message" id="first-race-error" style="color: red; display: none;"></span>
            </div>
            <div id="first-gender-selection">
                <h3>Select Gender:</h3>
                <label><input type="radio" name="first-gender" value="male"> Male</label><br>
                <label><input type="radio" name="first-gender" value="female"> Female</label><br>
                <span class="error-message" id="first-gender-error" style="color: red; display: none;"></span>
            </div>
        </div>

        <button id="generate-button">Generate Name!</button>

        <div id="last-name-params">
            <h2>Last Name Options:</h2>
            <div id="last-race-selection">
                <h3>Select Race(s):</h3>
                <label><input type="checkbox" name="last-race" value="human"> Human</label><br>
                <label><input type="checkbox" name="last-race" value="elf"> Elf</label><br>
                <label><input type="checkbox" name="last-race" value="dwarf"> Dwarf</label><br>
                <span class="error-message" id="last-race-error" style="color: red; display: none;"></span>
            </div>
        </div>
    </div>

    <div id="generated-names-container">
        <span id="generated-names-label">Previously Generated Names:</span>
        <div id="generated-names-display"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
