<!DOCTYPE html>
<html>
<head>
    <title>D&D Name Generator</title>
    <style>
        body {
            background-color: #a5cfef; /* Light Alice Blue */
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>D&D Name Generator</h1>

    <div id="race-selection">
        <h2>Select Race(s):</h2>
        <label><input type="checkbox" name="race" value="human"> Human</label><br>
        <label><input type="checkbox" name="race" value="elf"> Elf</label><br>
        <label><input type="checkbox" name="race" value="dwarf"> Dwarf</label><br>
    </div>

    <div id="gender-selection">
        <h2>Select Gender:</h2>
        <label><input type="radio" name="gender" value="male"> Male</label><br>
        <label><input type="radio" name="gender" value="female"> Female</label><br>
    </div>

    <button id="generate-button">Generate Name</button>

    <div id="name-display">
    </div>

    <script>
    //This is where we will add javascript later.
    </script>

</body>
</html>