<!-- Home.html -->
<!-- Author: John Botonakis -->
<!-- With some help from "Tech With Tim" on Youtube -->
<!-- Desc:
     This template defines the "Home" page for the web app.
     It uses Jinja2 templating to extend the base template and overrides the title and content blocks.
-->

{%extends"base.html"%} <!-- Extends the base template to maintain a consistent layout -->
{% block title %} Home {%endblock%} <!-- Overrides the 'title' block in the base template -->


{%block content %}<!-- Any and all content specific to the Home page -->
<!-- Page Title -->
<h1 align="center"> Your Journal </h1>
<!-- Listing all previously taken notes -->
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item"> {{ note.data }}
        <!--Delete Post Button-->
        <button class="close" onclick="deleteNote({{ note.id }})" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>

<!-- Text Box / Note-Taking Area -->
<form method="post">
<!-- Textbox Label   -->
    <label for="created_note"> Write your journal entry here: </label>
    <textarea class="form-control" id="created_note" name="Note"></textarea>
    <br/>
    <!--Submit Button-->
    <div align=center>
        <button class="btn btn-primary" type="submit"> Add Entry</button>
    </div>
</form>
{%endblock%}