<!-- Signup.html -->
<!-- Author: John Botonakis -->
<!-- With help from "Tech With Tim" on Youtube -->
<!-- Desc:
     This template creates the signup page for the web app.
     It extends the base template and provides a form for users to create a new account
     by entering their email, first name, and password (with confirmation).
-->
{%extends"base.html"%} <!-- Extends the base template for consistent structure and styling -->
{% block title %} Signup {%endblock%}<!-- Overrides the 'title' block in the base template -->

{%block content %}

<!-- Signup Form -->
<form method="post">
    <!-- Form Title -->
    <h3 align="center"> Sign Up! </h3>
    <!-- Error Display Section -->
{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            <ul class="mb-0">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}

<form method="post">
    <!-- Email Input Field -->
    <div class="form-group">
        <label for="email"> Email Address </label>
        <input class="form-control" id="email" name="email_signup" placeholder="Enter Email Address" type="email" value="{{ email or '' }}">
    </div>
    <!-- First Name Input Field -->
    <div class="form-group">
        <label for="firstname"> First Name </label>
        <input class="form-control" id="firstname" name="firstname_signup" placeholder="Enter First Name" type="text" value="{{ first_name or '' }}">
    </div>
    <!-- Password Input Field -->
    <div class="form-group">
        <label for="password1"> Password </label>
        <input class="form-control" id="password1" name="pass1_signup" placeholder="Enter Password" type="password">
    </div>
    <!-- Password Confirmation Input Field -->
    <div class="form-group">
        <label for="password2"> Password (Confirm) </label>
        <input class="form-control" id="password2" name="pass2_signup" placeholder="Confirm Password" type="password">
    </div>
    <br/>
    <!-- Submit Button -->
    <button class="btn btn-primary" type="submit"> Submit</button>
</form>
{%endblock%}